In [2]:
import pandas as pd

In [3]:
file_one = "Resources/HOF.csv"

In [4]:
hof_df = pd.read_csv(file_one, encoding="ISO-8859-1")
hof_df.head()

   year       hofID              name   pos category
0  1945  bakerho01h       Hobey Baker     F   Player
1  1945  gardich01h  Charlie Gardiner     G   Player
2  1945  gerared01h      Eddie Gerard  DLW   Player
3  1945  mcgeefr01h       Frank McGee   CR   Player
4  1945  morenho01h      Howie Morenz     C   Player

In [6]:
hof_df = hof_df[hof_df['category'] == 'Player'] 
hof_df.head()

   year       hofID              name   pos category
0  1945  bakerho01h       Hobey Baker     F   Player
1  1945  gardich01h  Charlie Gardiner     G   Player
2  1945  gerared01h      Eddie Gerard  DLW   Player
3  1945  mcgeefr01h       Frank McGee   CR   Player
4  1945  morenho01h      Howie Morenz     C   Player

In [7]:
hof_df = hof_df[hof_df['pos'] != 'G'] 
hof_df.head()

   year       hofID            name    pos category
0  1945  bakerho01h     Hobey Baker      F   Player
2  1945  gerared01h    Eddie Gerard   DLW   Player
3  1945  mcgeefr01h     Frank McGee    CR   Player
4  1945  morenho01h    Howie Morenz      C   Player
5  1945  phillto01h  Tommy Phillips  LWRW   Player

In [10]:
hof_df.count

<bound method DataFrame.count of      year       hofID            name    pos category
0    1945  bakerho01h     Hobey Baker      F   Player
2    1945  gerared01h    Eddie Gerard   DLW   Player
3    1945  mcgeefr01h     Frank McGee    CR   Player
4    1945  morenho01h    Howie Morenz      C   Player
5    1945  phillto01h  Tommy Phillips  LWRW   Player
..    ...         ...             ...    ...      ...
359  2010  granaca01h   Cammi Granato      C   Player
360  2010  jamesan01h    Angela James      C   Player
363  2011  gilmodo01h    Doug Gilmour      C   Player
364  2011   howema01h       Mark Howe      D   Player
365  2011  nieuwjo01h  Joe Nieuwendyk      C   Player

[224 rows x 5 columns]>