In [1]:
import pandas as pd

In [2]:
file_one = "Resources/HOF.csv"

In [3]:
hof_df = pd.read_csv(file_one, encoding="ISO-8859-1")
hof_df.head()

   year       hofID              name category
0  1945  bakerho01h       Hobey Baker   Player
1  1945  gardich01h  Charlie Gardiner   Player
2  1945  gerared01h      Eddie Gerard   Player
3  1945  mcgeefr01h       Frank McGee   Player
4  1945  morenho01h      Howie Morenz   Player