In [2]:
from splinter import Browser
from bs4 import BeautifulSoup
import time
import pandas as pd
import requests

In [4]:
player_tables = []

for x in range(1, 74):

    # url = f'https://www.eliteprospects.com/league/nhl/stats/all-time?page={x}'
    # browser.visit(url)
    # time.sleep(3)
    # html = browser.html
    # soup = BeautifulSoup(html, 'html.parser')

    # players = soup.find('table', class_='player-stats')

    url = f'https://www.eliteprospects.com/league/nhl/stats/all-time?page={x}'
    html = requests.get(url).text

    soup = BeautifulSoup(html, 'html.parser')

    players = soup.find('table', class_='player-stats')

    player_tables.append(pd.read_html(str(players))[0])

    
    print('page:', x, '-------------')
    

    # browser.links.find_by_partial_text('Next').click()
print("Scrapping completed!")

page: 1 -------------
page: 2 -------------
page: 3 -------------
page: 4 -------------
page: 5 -------------
page: 6 -------------
page: 7 -------------
page: 8 -------------
page: 9 -------------
page: 10 -------------
page: 11 -------------
page: 12 -------------
page: 13 -------------
page: 14 -------------
page: 15 -------------
page: 16 -------------
page: 17 -------------
page: 18 -------------
page: 19 -------------
page: 20 -------------
page: 21 -------------
page: 22 -------------
page: 23 -------------
page: 24 -------------
page: 25 -------------
page: 26 -------------
page: 27 -------------
page: 28 -------------
page: 29 -------------
page: 30 -------------
page: 31 -------------
page: 32 -------------
page: 33 -------------
page: 34 -------------
page: 35 -------------
page: 36 -------------
page: 37 -------------
page: 38 -------------
page: 39 -------------
page: 40 -------------
page: 41 -------------
page: 42 -------------
page: 43 -------------
page: 44 -------------
page: 45 -------------
page: 46 -------------
page: 47 -------------
page: 48 -------------
page: 49 -------------
page: 50 -------------
page: 51 -------------
page: 52 -------------
page: 53 -------------
page: 54 -------------
page: 55 -------------
page: 56 -------------
page: 57 -------------
page: 58 -------------
page: 59 -------------
page: 60 -------------
page: 61 -------------
page: 62 -------------
page: 63 -------------
page: 64 -------------
page: 65 -------------
page: 66 -------------
page: 67 -------------
page: 68 -------------
page: 69 -------------
page: 70 -------------
page: 71 -------------
page: 72 -------------
page: 73 -------------
Scrapping completed!

In [5]:
combined_df = pd.concat(player_tables, ignore_index=True)
combined_df = combined_df.dropna()
adjusted_df = combined_df
adjusted_df[['Name','POS']] = adjusted_df.Player.str.split("(",expand=True) 
adjusted_df=adjusted_df.replace('\)','',regex=True)
##adjusted_df[['firstName','lastName']] = adjusted_df.Name.str.split(" ",expand=True) 
adjusted_df = adjusted_df.drop('Player', 1)
adjusted_df = adjusted_df[['Name', 'GP', 'G', 'A', 'TP', 'PPG', 'PIM', 'Period', 'Years', 'POS']]
adjusted_df.head()

,Name,GP,G,A,TP,PPG,PIM,Period,Years,POS
0,Wayne Gretzky,1487,894.0,1963.0,2857.0,1.921,577.0,1979-1999,20.0,C
1,Jaromír Jágr,1733,766.0,1155.0,1921.0,1.108,1167.0,1990-2018,24.0,RW
2,Mark Messier,1756,694.0,1193.0,1887.0,1.075,1910.0,1979-2004,25.0,C
3,Gordie Howe,1767,801.0,1049.0,1850.0,1.047,1685.0,1946-1980,26.0,RW
4,Ron Francis,1731,549.0,1249.0,1798.0,1.039,979.0,1981-2004,23.0,C

In [8]:
cols_to_check = ['Name']
adjusted_df[cols_to_check] = adjusted_df[cols_to_check].replace({'á':'a'}, regex=True)
adjusted_df[cols_to_check] = adjusted_df[cols_to_check].replace({'í':'i'}, regex=True)
adjusted_df.head()

,Name,GP,G,A,TP,PPG,PIM,Period,Years,POS
0,Wayne Gretzky,1487,894.0,1963.0,2857.0,1.921,577.0,1979-1999,20.0,C
1,Jaromir Jagr,1733,766.0,1155.0,1921.0,1.108,1167.0,1990-2018,24.0,RW
2,Mark Messier,1756,694.0,1193.0,1887.0,1.075,1910.0,1979-2004,25.0,C
3,Gordie Howe,1767,801.0,1049.0,1850.0,1.047,1685.0,1946-1980,26.0,RW
4,Ron Francis,1731,549.0,1249.0,1798.0,1.039,979.0,1981-2004,23.0,C

In [6]:
adjusted_df[['First','Last']] = adjusted_df.Name.str.split(" ",expand=True)  
adjusted_df.head()

ValueError: Columns must be same length as key

In [27]:
combined_df.to_csv("career_stats.csv", index=False, header=True, encoding='utf-8-sig')

In [29]:
adjusted_df.to_csv("Output/career_stats_adj.csv", index=False, header=True, encoding='utf-8-sig')