In [61]:
import pandas as pd
import numpy as np
import os

In [17]:
pwd

'/Users/ireneh/Desktop/ETL-Project/name split'

In [86]:
name = pd.read_csv ("../Output/career_stats_adj.csv")
name.head()

,Name,GP,G,A,TP,PPG,PIM,Period,Years,POS
0,Wayne Gretzky,1487.0,894.0,1963.0,2857.0,1.921,577.0,1979-1999,20.0,C
1,Jaromír Jágr,1733.0,766.0,1155.0,1921.0,1.1079999999999999,1167.0,1990-2018,24.0,RW
2,Mark Messier,1756.0,694.0,1193.0,1887.0,1.075,1910.0,1979-2004,25.0,C
3,Gordie Howe,1767.0,801.0,1049.0,1850.0,1.047,1685.0,1946-1980,26.0,RW
4,Ron Francis,1731.0,549.0,1249.0,1798.0,1.0390000000000001,979.0,1981-2004,23.0,C

In [101]:
split= df_name ['Name'] 
split.head()

0    Wayne Gretzky
1     Jaromír Jágr
2     Mark Messier
3      Gordie Howe
4      Ron Francis
Name: Name, dtype: object

In [ ]:
data.dropna(inplace = True)

In [96]:
new = name["Name"].str.split(" ", n = 1, expand = True)

In [97]:
#split.dropna(inplace = True)

In [98]:
#split['Name']= split['Name'].str.split("t", n = 1, expand = True)